<H1>Login</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

  <form (ngSubmit)="!loginForm.invalid && handleLogin()" #loginForm="ngForm">
    <fieldset class="form-group">
      <label>User Name</label>
      <input type="text" name="username" [(ngModel)]="username" class="form-control" required="required">
    </fieldset>

    <fieldset class="form-group">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" class="form-control" name="password" required="required">
    </fieldset>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>  
</div>